
h1 {                                    
    color: hsl(0, 0%, 0%)
    ;
    text-align: center;   
  }
  
  h2 {                                    
    color: hsl(0, 0%, 0%)
    ;
    text-align: center;   
  }

  
  #grad1 {
    height: 1000px;
    background-color: violet; /* For browsers that do not support gradients */
    background-image: linear-gradient(violet, lightblue);
  }

  #grad2 {
    height: 1000px;
    background-color: rgb(128, 105, 243); /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(128, 105, 243), rgb(37, 167, 247));
  }

  

  ul{
  text-align: center;
  }