


  ul{
  text-align: center;
  }

  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Hiermee style je het bovenste kopje */
  header h4 {
    background-color: rgba(1, 15, 90, 0.87);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  
  /* Dit maakt 2 vakjes die naast elkaar zweven */
  nav {
    float: left;
    width: 15%;
    background: rgba(54, 76, 173, 0.753);
    height: 700;
    padding: 20px;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 10px;
    color: white;
    font-size: 20px;
  
  }
  
  article {
    float: left;
    padding: 10px;
    width: 85%;
    height: auto;
    background-color: rgba(95, 202, 240, 94);

  
  }

  h5 {                                    
    color: hsl(0, 0%, 0%)
    ;
    text-align: left;
    font-size: 25px; 
  }
    
  /* Clear floats after the columns */
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  footer {
    background-color: rgba(1, 15, 90, 0.87);
    padding: 3px;
    text-align: center;
    color: white;
  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }

  h1 {
    max-width: 100%;
    height: auto;
  }
