


  ul{
  text-align: center;
  }

  /* Dit is de soort blokjes dat je ziet*/
  * {
    box-sizing: border-box;
  }

  /* hiermee styl je de body, achtergrond en tekst*/
  body {
    font-family: Arial, Helvetica, sans-serif; 
    background-image: url("achtegrond met 1 en 0.jpg");
    background-size: cover;
    backdrop-filter: blur(1px);
  }
  
  /* Hiermee style je het bovenste kopje */
  header h4 {
    background-color: rgba(1, 15, 90, 0.87);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  
  /* Dit maakt 2 vakjes die naast elkaar zweven */
  nav {
    float: left;
    width: 15%;
    background: rgba(1, 15, 90, 0.87);
    height: 700;
    padding: 20px;
    margin: 0.6% 2% 2% 2%;
  }

  
  /* Hiermee style je de tekst in het menu */
  nav ul {
    list-style-type: none;
    padding: 10px;
    color: rgb(236, 11, 11);
    font-size: 20px;
  
  }
  
/* hiermee maak je de tekst in het menu wit*/
  ul li a {
    color: white;
    text-decoration: none;
  }

/* hiermee styl je het middelste bokje, de tekst*/
  article {
    float: left;
    padding: 1em;
    width: 35%;
    height: auto;
    background-color: rgba(95, 202, 240, 94);
    margin: 0.6% 2% 2% 2%;
  }

  /*Hiermee styl je de grote zwarte kopjes*/
  h5 {                                    
    color: hsl(0, 0%, 0%);
    text-align: left;
    font-size: 25px; 
  }
    
  /* Clear floats after the columns */
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Hiermee styl je de footer */
  footer {
    background-color: rgba(1, 15, 90, 0.87);
    padding: 3px;
    text-align: center;
    color: white;
    margin: 0.6% 2% 2% 2%;
  }
  
  /* Dit zorgt ervoor dat op je telefoon de blokjes op elkaar stapelen en net naast elkaar */
  @media (max-width: 600px) {
    nav, article{
      width: 100%;
      height: auto;
    }
           
            .dropbtn {
              background-color: #04AA6D;
              color: white;
              padding: 16px;
              font-size: 16px;
              border: none;
            }
    
            .dropdown {
              position: relative;
              display: inline-block;
            }
            
            .dropdown-content {
              display: none;
              position: absolute;
              background-color: #f1f1f1;
              min-width: 160px;
              box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
              z-index: 1;
            }
            
            .dropdown-content a {
              color: black;
              padding: 12px 16px;
              text-decoration: none;
              display: block;
            }
            
            .dropdown-content a:hover {background-color: #ddd;}
            
            .dropdown:hover .dropdown-content {display: block;}
            
            .dropdown:hover .dropbtn {background-color: #3e8e41;}
            
  }

  
